<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsdk.server.dao.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.zsdk.server.model.UserInfo">
        <id column="uid" jdbcType="INTEGER" property="uid"/>
        <id column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="platform" jdbcType="VARCHAR" property="platform"/>
        <result column="root" jdbcType="SMALLINT" property="root"/>
        <result column="system_version" jdbcType="VARCHAR" property="systemVersion"/>
        <result column="system_name" jdbcType="VARCHAR" property="systemName"/>
        <result column="device_model" jdbcType="VARCHAR" property="deviceModel"/>
        <result column="device_name" jdbcType="VARCHAR" property="deviceName"/>
        <result column="register_time" jdbcType="TIMESTAMP" property="registerTime"/>
        <result column="register_place" jdbcType="VARCHAR" property="registerPlace"/>
    </resultMap>
    <sql id="Base_Column_List">
    uid, user_name, password, platform, root, system_version, system_name, device_model,
    device_name, register_time, register_place
  </sql>


    <insert id="insert" parameterType="com.zsdk.server.model.UserInfo" keyProperty="uid">
    insert into user_info ( user_name, password,
    platform, root, system_version,
    system_name, device_model, device_name,
    register_time, register_place)
    values (#{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
    #{platform,jdbcType=SMALLINT}, #{root,jdbcType=SMALLINT}, #{systemVersion,jdbcType=SMALLINT},
    #{systemName,jdbcType=VARCHAR}, #{deviceModel,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR},
    #{registerTime,jdbcType=TIMESTAMP}, #{registerPlace,jdbcType=VARCHAR})
  </insert>

    <select id="selectByName" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where user_name = #{userName}
    </select>

</mapper>